@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* .parent {
  display: grid;
  grid-template-columns: 100px 320px;
  grid-template-rows: 80px 50px 120px;
  text-align: center;
} */

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  width: 100%;
}

.child {
  background-color: green;
  border: solid black;
  padding: 1px;
  height: 100px;
  width: 100px;
}

.parent div:last-child {
  margin-left: auto;
}

/*
flex, clear, vertical-align do have affect on flex box

1. block layout
2. inline layout
3. table layout
4. poistioned layout

flex axes , main axis (horizontal), cross axis (vertical)
flex lines


*/
